---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "@/layouts/Layout.astro";

const esIndex = getRelativeLocaleUrl("es");
---

<Layout language="en" title="Steam Review Creator">
	<main>
		<a href={esIndex} class="text-white">ES</a>
		<h1 class="text-white">Steam Review Creator</h1>
	</main>
</Layout>
